/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/.qmake.stash
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/CallingQmlFromCpp.exe
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/cppsignalsender.o
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/main.o
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_cppsignalsender.cpp
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_cppsignalsender.o
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_predefs.h
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.cpp
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.o
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
/CallingQmlFromCpp/build-CallingQmlFromCpp-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
/CallingQmlFromCpp/CallingQmlFromCpp/CallingQmlFromCpp.pro.user
